<carousel>
    <slide>
        <img src="assets/images/ad1.jpg" alt="first slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/ad2.jpg" alt="second slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/ad3.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/ad4.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/ad5.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/ad6.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
</carousel>
<section>
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to Sefa's eShop!!!</h1>
    </div>
</section>
<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">iPhone 16 Pro Max <span class="text-muted">The ultimate iPhone experience.</span>
            </h2>
            <p class="lead">iPhone 16 Pro Max has a strong and light titanium design with a larger 6.9-inch Super Retina XDR display. It's remarkably durable with the latest-generation Ceramic Shield material that's 2x tougher than any smartphone glass.
                Take your videos to a whole new level with 4K 120 fps Dolby Vision, enabled by the 48MP Fusion camera. The improved 48MP Ultra Wide camera lets you capture mesmerizing detail in macro photos and wide-angle shots.
            </p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/mix1.jpg" alt="iPhone 14 Pro" style="display: block; width: 500px; height: 500px">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2 padding-left-20">
            <h2 class="featurette-heading ml-5">Galaxy S24 Ultra <span class="text-muted">The ultimate Galaxy
                    experience.</span></h2>
            <p class="lead ml-5">Do more with the most epic Galaxy yet. Wondering where the cool museum that your favorite influencer visited is located? Simply Circle to Search with Google and start planning your own trip to the Louvre. 
                Then get ready to experience local flavors by calling ahead with Live Translate to make a reservation in French, even if all you know is "Bonjour." Capture every detail of your candlelight meal with impressive Nightography and zoom in to see the live violinist playing across the room. 
                Once you're back in your hotel, elevate your pics from good to great right on your Galaxy S24 Ultra. You can even use your built-in S Pen to add fun doodles before posting. 
                Unleash new ways to create, connect, and more with Galaxy S24 Ultra. Epic just like that. Requires internet connection; results may vary by uniqueness, clarity, and framing of circled image and related factors. 
                Samsung account log-in required. Calls must be made using the native Samsung dialer.

            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="assets/images/mix2.jpg" alt="Galaxy S23 Ultra"
                style="display: block; width: 500px; height: 500px">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Apple 16-inch MacBook Pro <span class="text-muted">
                    </span></h2>
            <p class="lead">2.6 GHz Intel Core i7 6-Core (9th Gen) • 16GB of 2666 MHz DDR4 RAM 512GB SSD • 16" 3072 x 1920 Retina Display • AMD Radeon Pro 5300M GPU (4GB GDDR6) • P3 Color Gamut True Tone Technology • Wi-Fi 5 (802.11ac) Bluetooth 5.0 • Touch Bar Touch ID Sensor • 4 x Thunderbolt 3 (USB Type-C) Ports • Supports Multiple 6K or DCI 4K Displays • macOS</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/mix3.jpg" alt="Google Pixel 7 Pro"
                style="display: block; width: 500px; height: 500px">
        </div>
    </div>

</div>