<carousel>
    <slide>
        <img src="assets/images/ad1.jpg" alt="first slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/ad2.jpg" alt="second slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/ad3.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/ad4.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/ad5.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
        <img src="assets/images/ad6.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
</carousel>
<section>
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to eShop!!!</h1>
    </div>
</section>
<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">iPhone 14 Pro <span class="text-muted">The ultimate iPhone experience.</span>
            </h2>
            <p class="lead">Experience the power and innovation of the iPhone 14 Pro. With its advanced camera system,
                powerful A16 Bionic chip, and stunning Super Retina XDR display, it's the ultimate iPhone experience.
            </p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/mix1.jpg" alt="iPhone 14 Pro" style="display: block; width: 500px; height: 500px">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2 padding-left-20">
            <h2 class="featurette-heading ml-5">Galaxy S23 Ultra <span class="text-muted">The ultimate Galaxy
                    experience.</span></h2>
            <p class="lead ml-5">Discover the power and versatility of the Galaxy S23 Ultra. With its advanced camera
                system, powerful Exynos 2200 chip, and stunning Dynamic AMOLED 2X display, it's the ultimate Galaxy
                experience.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="assets/images/mix2.jpg" alt="Galaxy S23 Ultra"
                style="display: block; width: 500px; height: 500px">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Google Pixel 7 Pro <span class="text-muted">The ultimate Pixel
                    experience.</span></h2>
            <p class="lead">Experience the best of Google with the Pixel 7 Pro. With its advanced camera system,
                powerful Tensor G2 chip, and stunning LTPO OLED display, it's the ultimate Pixel experience.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/mix3.jpg" alt="Google Pixel 7 Pro"
                style="display: block; width: 500px; height: 500px">
        </div>
    </div>

</div>